<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VentaRepuestos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsindicadoreseconomicosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1" />
                <binding name="wsindicadoreseconomicosSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap3" />
                <binding name="wsindicadoreseconomicosSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap5" />
                <binding name="wsindicadoreseconomicosSoap6">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap7" />
                <binding name="wsindicadoreseconomicosSoap8">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap9" />
                <binding name="wsindicadoreseconomicosSoap10">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap11" />
                <binding name="wsindicadoreseconomicosSoap13">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap14" />
                <binding name="wsindicadoreseconomicosSoap15">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap16" />
                <binding name="wsindicadoreseconomicosSoap17">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap18" />
                <binding name="wsindicadoreseconomicosSoap19">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap20" />
                <binding name="wsindicadoreseconomicosSoap21">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap22" />
                <binding name="wsindicadoreseconomicosSoap23">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap24" />
                <binding name="wsindicadoreseconomicosSoap25">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap26" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsindicadoreseconomicosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap122">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap123">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap124">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap125">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap126">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap127">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap128">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap129">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1210">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1211">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1212">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap12"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap12" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap2"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap1" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap121"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap121" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap4"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap2" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap122"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap122" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap6"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap3" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap123"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap123" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap8"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap4" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap124"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap124" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap10"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap5" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap125"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap125" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap13"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap6" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap126"
                contract="TC.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap126" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap15"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap7" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap127"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap127" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap17"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap8" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap128"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap128" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap19"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap9" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap129"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap129" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap21"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap10" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap1210"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap1210" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap23"
                contract="PRUEBAS.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap11" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap1211"
                contract="PRUEBAS.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap1211" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap25"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap13" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap1212"
                contract="ServiceReference1.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap1212" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <VentaRepuestos.My.MySettings>
            <setting name="VentaRepuestos_WS_CENTRAL_wsindicadoreseconomicos"
                serializeAs="String">
                <value>https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx</value>
            </setting>
        </VentaRepuestos.My.MySettings>
    </applicationSettings>
</configuration>